@font-face {
    font-family: digital;
    src: url('/fonts/DS-DIGI.TTF');
}

body {
    background: black;
}

.header{
    height: 300px;
    padding: 50px;
    text-align: center;
    background-image: url('/images/desert2.jpg');
    background-size: cover;
    background-position: -0px -250px;
    min-width: 960px;
}

.header h1{
    line-height: 300px;
    font-size: 100px;
    font-family: digital;
}

