@font-face {
    font-family: digital;
    src: url('/fonts/DS-DIGI.TTF');
}

body {
}


/*--Header--*/

.header{
    height: auto;
    text-align: center;
    background-image: url('/images/desert2.jpg');
    background-size: cover;
    width: 100% auto;
}

.header-text{
    font-family: digital;
    padding: 13% 10% 10% 10%;
    color: black;
}

.text, .credits{
    margin-top: 5%;
    margin-bottom: 5%;
}

.text a{
    text-decoration: none;
    color: inherit;
}
    



/* Navbar */

.navbar{
    width: 100%;
    position: absolute;
    top: 0%;
    background: black;
    opacity: 0.5;
    color: white;
}

.navbar ul{
    margin: 0px;
    padding: 10px .5% 10px 3%; 
}

.navbar li{
    list-style: none;
    display:inline;
    padding-left: 5%;
}

.navbar a{
    text-decoration: none;
    color:inherit;
}

.navbar a:hover{
    color:sandybrown; 
}

/* Navscroll */

.navscroll{
    background: black;
    color: white;
    padding: 10px 10px 5px 10px;
    width: 75%;
    font-size: 12px;
    border-radius: 20px;
}

.navscroll ul{
    padding: 0px;
    margin: 0px;
}

.navscroll li{
    list-style: none;
    padding: .3em;
}

.navscroll a:hover{
    color:darkcyan;
}

/* Table */

table tr td{
    padding: 0px;
    border: none;
}

.line{
    position:sticky
}

/* Annotations */

.annotation td{
    vertical-align: top;
}


/* Tooltips */

.tt-foreign, .tt-tristan{
    color: red;
    font-weight: 900;
    font-style: italic;
}

.tt-eliot{
    color: rgb(0, 110, 0);
    font-weight: 900;
}

/*--Header--*/

.footer{
    background-color: black;
    height: 150px;
}

/* Larger than mobile */
@media (max-width: 500px) {
        .text{
        overflow: scroll;
        }
        
        .container{
        margin: .8em;
        }
        
        .line{
        display: none;
        }
    

}

 @media (max-width: 600px) {       
        .navscroll{
        display: none;
        }
 }

/* Larger than tablet */
@media (min-width: 550px) {
       .header-text h1{
        font-size: 4rem;
        font-weight: bold;
}
}

/* Larger than tablet */
@media (min-width: 750px) {
       .header-text h1{
        font-size: 6.4rem;
        font-weight: bold;
}
}

/* Larger than tablet */
@media (min-width: 1000px) {
       .header-text h1{
        font-size: 8rem;
        font-weight: bold;
}
}


/* Larger than mobile */
@media (min-width: 400px) {}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {
  .container {max-width: 1000px}
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    
}