@font-face {
    font-family: digital;
    src: url('/fonts/DS-DIGI.TTF');
}

body {
    background: black;
}

.header{
    height: 100%;
    text-align: center;
    background-image: url('/images/desert2.jpg');
    background-size: cover;
    width: 100% auto;
}

.header h1{
    line-height: 300px;
    font-family: digital;
}

